@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";

.wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.image {
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@include media-breakpoint-down(md, $grid-breakpoints) {
  .wrapper {
    justify-content: flex-start;
  }
  .image {
    max-height: 160px;
  }
}

