@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.image {
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@include media-breakpoint-down(md, $grid-breakpoints) {
  .image {
    max-height: 160px;
  }
}

